Options All -Indexes
RewriteEngine On

# Убирать .html
RewriteCond %{REQUEST_URI} (.*/[^/.]+)($|\?)
RewriteRule .* %1/ [L,R=301]

# Убирать лишние слеши
RewriteCond %{REQUEST_URI} ^(.*)/{2,}(.*)$
RewriteRule . %1/%2 [R=301,L]

# Страницы с неправильным url
RewriteCond %{QUERY_STRING} !^redirect=true$
RewriteRule ^lectureRate /404/ [L]

# Перенаправление на страницу lectureRate
RewriteRule ^lecture/([^/]+)/$ /lectureRate/?redirect=true [L]

# Убирать .html
RewriteRule ^404/index.html /404/ [L,R=301]

# Страница ошибки 404
ErrorDocument 404 /404/
ErrorDocument 403 /404/
